header {
    background-image: url(../img/wall.png);
    background-size: 30%;
}

body {
    background-image: url(../img/cork.png);
}



.card:hover {
    scale: 1.10;
    rotate: 5deg;
    transition: 0.5s;
}